<footer class="page-footer waves-light orange">

    <div class="footer-copyright">
        <div class="container">
            © 2019
            <a class="grey-text text-lighten-4 right" href="https://github.com/mantis-toboggan-md/q2-final-project">GitHub Repo</a>
        </div>
    </div>

</footer>
