<!-- put navbar template here -->
<nav class="nav-wrapper light-blue lighten-1">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">You Bet Your Ass</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"></a>
    <ul class="right hide-on-med-and-down">
      <li> <a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/new">Start Compeition</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Home</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/new">Start Competition</a></li>

</ul>

