<!-- put navbar template here -->
<nav>
   <div class="nav-wrapper">
     <a href="/" class="brand-logo">You Bet Your Ass</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="/login">Login In</a></li>
       <li><a href="/new">Start Compeition</a></li>
     </ul>
   </div>
 </nav>
