<!-- put navbar template here -->
<nav>
   <div class="nav-wrapper">
     <a href="/" class="brand-logo">You Bet Your Ass</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <%if(!user){%>
         <li><a href="/login">Log In</a></li>
       <%} else {%>
         <li><a href="/new">Start Compeition</a></li>
         <li><a href="/logout">Log Out</a></li>
        <%}%>
     </ul>
   </div>
 </nav>
