<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/header.ejs %>
    <div class ='container'>
      <div class = 'row'>
        <%for(let i = 0; i < pubComps.length; i++){%>
          <%=pubComps[i].title%>
          <a href='/competitions/<%=pubComps[i].id%>'>View Competition</a>
          <%}%>
      </div>
      <div class='row'>
        <%for(let i = 0; i < privComps.length; i++){%>
          <%=privComps[i].title%>
          <a href='/competitions/<%=privComps[i].id%>'>View Competition</a>
        <%}%>
      </div>
    </div>
  </body>
</html>
