<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%include ./partials/head.ejs%>
  </head>
  <body>
    <%include ./partials/header.ejs%>
    Select competition winner(s) below:
    <form action='/competitions/<%=competition.id%>/winners' method='post'>
      <div class='input-field'>
        <%for(let i = 0; i < participants.length;i++){%>
        <p>
          <label>
            <input name="<%=participants[i].id%>" type="checkbox" value='<%=participants[i].id%>' />
            <span><%=participants[i].username%></span>
          </label>
        </p>
        <%}%>
      </div>
      <button type='submit'>Submit</button>
    </form>
  </body>
</html>
