
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
#unclaimed {
  font-size: .75em;
  margin-left: 0px;
  margin-top: -3px;
  color: #ffb74d;
}
