
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
#unclaimed {
  font-size: .75em;
  margin-left: 0px;
  margin-top: -3px;
  color: #ffb74d;
}

#bet_desc{
  font-size: 1.25em;
}

/* #arbiter_button1 {
  margin-left: 80px;
} 
#arbiter_button {
  margin-left: 70px;
} */
